<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BNR - Amount Saving/Withdrawal</title>
    <style>
        *{
            font-family: "Roboto Thin",sans-serif;
        }
        .header-container{
            padding: 20px;
            border: 2px solid #e3dfdf;
            border-radius: 20px;
        }
        h2{
            color: #2463b5;
        }
    </style>
</head>
<body>
<div class="header-container">
    <h2>BNR - Amount Saving/Withdrawal</h2>

    <div class="">
        <p>Dear ${name} your SAVING of ${amount}  on your account ${accountNumber} has been completed successfully</p>
    </div>
</div>
</body>
</html>
